@import "../../../assets/styles/mixins.module.scss";

.qualifications {
  height: 80vh;
  min-height: 70rem;
  padding: 10rem;
  background-color: var(--background-color-darker);

  @include respond(tab-port) {
    padding: 1rem;
    min-height: 140rem;
  }

  .card-wrapper {
    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &-card {
    width: 40rem;
    padding: 4.5rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

    margin: 0 2rem 1.5rem 0;
    hyphens: auto;
    @include respond(tab-port) {
      padding: 1rem;
      margin: 3rem 1rem;
    }
    &-icon {
      margin: 0 30px 30px 0;
    }

    &-header {
      margin-bottom: 10px;
    }
  }
}
