.home {
  width: 100%;
  height: 100vh;
  padding: 0 20%;
  background-color: var(--background-color-darker);
  &-bg {
    position: absolute;
    inset: 0 0;
    background-image: url(../../src/assets/images/home-bg.svg);
    background-size: cover;
    height: inherit;
    width: inherit;
  }

  .what-we-do {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color-darker);
  }
  .qualification {
    background-color: var(--background-color-darkest);
  }
}
.experience,
.services {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color-darker);
}

.comments {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color-darker);
  .add-comments {
    width: 100%;
    height: 400px;
    background-color: var(--background-color-dark);
  }
}
