.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-darker);
  height: 10rem;
  margin: 0 20%;
  position: fixed;
  z-index: 50;
  inset: 0 0;
  &-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    .nav-button {
      position: relative;
      cursor: pointer;

      &:before {
        transition: all 0.3s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        bottom: calc(50% + 4px);
        left: -12px;
        width: 0;
        border-bottom: 2px solid var(--color-blue);
      }
      &:hover::before {
        width: calc(100% + 24px);
      }
      &:active {
        color: var(--color-blue);
      }
    }
  }
}
