@import "../../../assets/styles/mixins.module.scss";

.about {
  height: 50vh;
  min-height: 50rem;
  padding: 10rem;
  background-color: var(--background-color-darkest);
  @include respond(tab-port) {
    padding: 1rem;
    min-height: 75rem;
  }

  &-card {
    width: 27.5rem;
    margin: 0 4rem;
    text-align: center;
    hyphens: auto;

    @include respond(tab-port) {
      margin: 0 5px;
    }
    & * {
      margin-top: 15px;
    }
  }
}
