@import "./mixins.module.scss";

:root {
  --background-color-dark: #081420;
  --background-color-darker: #06101a;
  --background-color-darkest: #050d16;
  --color-white: #fafafa;
  --color-red: #b62e2e;
  --color-blue: #00bcd4;
  --color-dark: #041f2a;
  --color-gray: #777777;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 15px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-special-small: 24px;
  --font-size-special-medium: 36px;
  --font-size-special-big: 44px;
  --font-size-special-large: 60px;
  --font-weight-semi-bold: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --global-section-padding: 0 38rem;

  @include respond(desktop) {
    --global-section-padding: 0 28rem;
  }

  @include respond(tab-land) {
    --global-section-padding: 0 13rem;
  }

  @include respond(tab-port) {
    --global-section-padding: 0 1rem;
  }

  @include respond(phone) {
    --global-section-padding: 0 3rem;
  }
}
