:root {
  --background-color-dark: rgb(8, 20, 32);
  --background-color-darker: rgb(6, 16, 26);
  --background-color-darkest: rgb(5, 13, 22);
  --color-white: #fafafa;
  --color-blue: #00bcd4;
  --color-gray: #777777;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 15px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-special-small: 24px;
  --font-size-special-medium: 36px;
  --font-size-special-big: 44px;
  --font-size-special-large: 60px;
  --font-weight-semi-bold: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}
